
.txtboxforlogin{
  margin-left: 30%;
  margin-top: 10%;
}

.submitbutton{
  background-color:  darkgreen;
  font-weight: bold;
  margin-left: 80%;
  margin-top: 15%;

}


.alertMsg{
  color: red;
  margin-left: 40%;
}
